{% extends "base.html" %}
{% block content %}

<div class="card p-4 shadow">
    <h4 class="text-center mb-4">Register</h4>

    <form method="POST">
        {% csrf_token %}
        

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Mobile Number</label>
            <input type="text" name="phone" class="form-control">
        </div>

        <div class="mb-3">
            <label>Register As</label>
            <select name="role" class="form-control">
                <option value="client">Client</option>
                <option value="lawyer">Lawyer</option>
            </select>
        </div>

        <button class="btn btn-warning w-100">Get OTP</button>
    </form>
</div>

{% endblock %}
