{% extends "base.html" %}
{% block content %}

<div class="card p-4 shadow">
    <h4 class="text-center mb-4">Reset Password</h4>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>New Password</label>
            <input type="password" name="password1" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password" name="password2" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100">Reset Password</button>
    </form>
</div>

{% endblock %}
